.video-container .mbr-background-video iframe{width:100%;height:100%}
/*
     FILE ARCHIVED ON 14:09:32 Feb 24, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:45:33 Mar 29, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 201.565
  exclusion.robots: 0.09
  exclusion.robots.policy: 0.081
  RedisCDXSource: 0.552
  esindex: 0.007
  LoadShardBlock: 181.274 (3)
  PetaboxLoader3.datanode: 194.814 (4)
  CDXLines.iter: 17.513 (3)
  load_resource: 66.45
*/